<div class="form_parent">
<%= form_with(model: @picture, local: true,url: choose_new_or_edit ) do |form| %>
  <div class="form_child">
    <%= form.file_field :image%>
    <%= form.hidden_field :image_cashe %>
    <%= form.text_area :content, placeholder: "Content" %>
  </div>
  <%= form.submit %>
<% end %>
</div>
